.purple {
  /* TODO: Add some style definitions for the purple class in here... */
  color: purple;
}

/* #answer-display will have black text on a white background.
   Hovering the mouse over it will reveal the text */
#answer-display {
  background-color: #000;
}

#answer-display:hover {
  color: #fff;
}

.fa{
  font-size: 140;
  color: cornflowerblue;
}
/* canvas {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
} */