html {
  scroll-behavior: smooth;
}

.purple {
  /* TODO: Add some style definitions for the purple class in here... */
  color: purple;
}

/* #answer-display will have black text on a white background.
   Hovering the mouse over it will reveal the text */
#answer-display {
  background-color: #000;
}

#answer-display:hover {
  color: #fff;
}

.fa{
  font-size: 140;
  color: cornflowerblue;
}
/* canvas {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
} */



.section-right{
    width: 100%;
    position: relative;
}

.section-right img{
    width: 100%
}

.section-formbox-right{
    position: absolute;
    top: 80px;
    right: 0px;
    width: 40%;
    padding: 20px;
    background-color: white;
    border: 8px solid rgba(0,0,0,0.1);
    border-radius: 50px;
}

#trees{
    width: calc(90% + 120px);
    margin-left: -60px;
    margin-right: -60px;
}
#logo{

    width: 30%;
    height: 30%;
}

.wrapper{
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.questionBackground{
    max-height: 100vh;
}


.hero{
    margin-top: 0px;
    text-align: center;
}

.hero h1{
 text-align: center;
}

.hero h3{
 text-align: center;
}
.card .card-action:last-child {
  border-radius: 0 0 2px 2px;
}
.card .card-action {
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  position: relative;
  padding: 16px 24px;
}

div {
  display: block;
}
